# This IG YML file is inspired by the ImplementationGuide resource
# and also draws from package.json, package-list.json, and ig.ini.
# That said, it is structured for ease-of-use, so it is not strictly
# conformant to any of those existing configuration formats.

# SUSHI will use id as both id and packageId in the IG unless a
# specific packageId is also provided in this file.
id: hl7.fhir.uv.crmi
canonical: http://hl7.org/fhir/uv/crmi
name: CRMI
title: Canonical Resource Management Infrastructure Implementation Guide
description: >-
  This implementation guide defines profiles, operations, capability statements
  and guidance to facilitate the content management lifecycle for authoring,
  publishing, distribution, and implementation of FHIR knowledge artifacts such
  as value sets, profiles, libraries, rules, and measures. The guide is
  intended to be used by specification and content implementation guide authors
  as both a dependency for validation of published artifacts, and a guide for
  construction and publication of content.
status: draft
license: CC0-1.0
date: 2022-05-17
version: 1.0.0-ballot

# Although fhirVersions is 0..* in the ImplementationGuide resource
# it can be a single item OR and array here (but so far SUSHI only
# supports 4.0.1 anyway).
fhirVersion: 4.0.1

# The following two lines correspond to items that used to be in
# ig.ini but were moved to IG.definition.parameter. For
# consistency within this file, the names are represented using
# camelcase, but if authors use the formal parameter names, SUSHI
# will recognize them as well. In either case, they'll be copied
# to the IG JSON using the formal names.
copyrightYear: 2022+
releaseLabel: Ballot

# The publisher can be a single item or a list, each with a name and
# optional url and/or email. The first publisher's name will be used
# as IG.publisher.  The contact details and/or additional publishers
# will be translated into IG.contact values.
publisher:
  name: HL7 International / Clinical Decision Support

extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg
    valueCode: cds

# Those who need more control or want to add additional details to the contact values can use
# contact directly and follow the format outlined in the ImplementationGuide resource and
# ContactDetail.
contact:
  - telecom:
    - system: url
      value: http://www.hl7.org/Special/committees/dss

# The jurisdiction can be a single item or a list. The FHIR Shorthand
# code syntax can be used here.
jurisdiction: http://unstats.un.org/unsd/methods/m49/m49.htm#001 "World"

# The dependencies property corresponds to IG.dependsOn. The key is the
# package id and the value is the version (or dev/current). For advanced
# use cases, the value can be an object with keys for `uri` and `version`.
# For R5 ImplementationGuides, the object can also have a key for `reason`.
# dependencies:
#  fhir.cqf.common: 4.0.1
#  hl7.fhir.uv.extensions.r4: 1.0.0

dependencies:
  hl7.fhir.uv.extensions: current

parameters:
  excludettl: true
  path-history: http://hl7.org/fhir/uv/crmi/history.html
  special-url-base: http://hl7.org/fhir
  special-url:
    - http://terminology.hl7.org/CodeSystem/artifact-version-policy-codes
    - http://terminology.hl7.org/CodeSystem/software-system-type-codes
    - http://terminology.hl7.org/ValueSet/artifact-version-policy
    - http://terminology.hl7.org/ValueSet/software-system-type

pages:
  index.md:
    title: Home
  introduction.md:
    title: Introduction
    acknowledgements.md:
      title: Acknowledgements
    bibliography.md:
      title: Bibliography
  content-lifecycle.md:
    title: Content Lifecycle
    naming-conventions.md:
      title: Naming Conventions
    packaging.md:
      title: Packaging
    testing.md:
      title: Testing
    publishing.md:
      title: Publishing
    distribution.md:
      title: Distribution
    version-manifest.md:
      title: Dealing with Unversioned Canonicals
  profiles.md:
    title: Profiles
  extensions.md:
    title: Extensions
  operations.md:
    title: Operations
  capabilities.md:
    title: Capabilities
    artifact-repository-service.md:
      title: Artifact Repository Service
    artifact-terminology-service.md:
      title: Artifact Terminology Service
  terminology.md:
    title: Terminology
  artifacts.xml:
    title: Artifacts Summary
  downloads.md:
    title: Downloads
  changes.md:
    title: Version History

# The resources property corresponds to IG.definition.resource.
# SUSHI can auto-generate all of the resource entries based on
# the FSH definitions and/or information in any user-provided
# JSON or XML resource files. If the generated entries are not
# sufficient or complete, however, the author can add entries
# here. If the reference matches a generated entry, it will
# replace the generated entry. If it doesn't match any generated
# entries, it will be added to the generated entries. The format
# follows IG.definition.resource with the following differences:
#   * use IG.definition.resource.reference.reference as the YAML key.
#   * if the key is an id or name, SUSHI will replace it with the
#     correct URL when generating the IG JSON.
#   * specify "omit" to omit a FSH-generated resource from the
#     resource list.
#   * if the exampleCanonical is an id or name, SUSHI will replace
#     it with the correct canonical when generating the IG JSON.
#   * groupingId can be used, but top-level groups syntax may be a
#     better option (see below).
# The following are simple examples to demonstrate what this might
# look like:
#
# resources:
  # ImplementationGuide/hl7.fhir.uv.cpg.chf: omit #omit this because this template does not generate HTML for IG, so the link from TOC fails
#   Patient/my-example-patient:
#     name: My Example Patient
#     description: An example Patient
#     exampleBoolean: true
#   Patient/bad-example: omit

resources:
  Group/definition-example:
    name: Example Group Definition
    description: Example Group Definition illustrating the use of an expression to define group membership.
  Device/cqf-tooling:
    name: CQF Tooling Device
    description: Example of a Software System Device instance for describing tooling that was used to process artifacts. This resource is typically referenced from the `crmi-softwaresystem` extension
  Medication/definition-example:
    name: Example Medication Definition
    description: Example of a Medication resource illustrating use as a definitional artifact.
  MedicationKnowledge/definition-example:
    name: Example MedicationKnowledge Definition
    description: Example of a MedicationKnowledge resource illustrating use as a definitional artifact.
  Substance/definition-example:
    name: Example Substance Definition
    description: Example of a Substance resource illustrating use as a definitional artifact.
  MeasureReport/result-example:
    name: Example MeasureReport
    description: Example MeasureReport illustrating use of MeasureReport as a test case.
  Parameters/crmi-evaluationresult-example:
    name: Example Evaluation Result Parameters
    description: Example Parameters resource demonstrating the use of data-absent-reason extension to indicate a null evaluation result.