<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="introduction.html" class="item">Introduction</a></li>
  <li><a href="conformance.html" class="item">Conformance</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="index.html" class="dropdown-toggle">Artifact Management<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="artifact-lifecycle.html" class="item">Artifact Lifecycle</a></li>
      <li><a href="version-manifest.html" class="item">Artifact Manifest</a></li>
      <li><a href="artifact-conventions.html" class="item">Artifact Conventions</a></li>
      <li><a href="packaging.html" class="item">Packaging</a></li>
      <li><a href="publishing.html" class="item">Publishing</a></li>
      <li><a href="publishing-fhir-package.html" class="item">Publishing and Downloading FHIR (NPM) Packages</a></li>
      <li><a href="distribution.html" class="item">Distribution</a></li>
      <li><a href="artifact-signing.html" class="item">Artifact Signing</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="index.html" class="dropdown-toggle">FHIR Artifacts
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="profiles.html" class="item">Profiles</a></li>
      <li><a href="extensions.html" class="item">Extensions</a></li>
      <li><a href="operations.html" class="item">Operations</a></li>
      <li><a href="capabilities.html" class="item">Capabilities</a></li>
      <li><a href="terminology.html" class="item">Terminology</a></li>
      <li><a href="artifacts.html" class="item">Artifacts Summary</a></li>
    </ul>
  </li>
  <!--li><a href="examples.html" class="item">Examples</a></li-->
  <li class="dropdown">
    <a data-toggle="dropdown" href="index.html" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec</a>
      </li>
      <li>
        <a target="_blank" href="https://chat.fhir.org/#narrow/channel/179220-cql">Discussion Forum</a>
      </li>
      <li>
        <a target="_blank" href="https://confluence.hl7.org/spaces/CDS/pages/108303939/CRMI+-+Canonical+Resource+Management+Infrastructure+IG">Project Page</a>
      </li>
      <li>
        <a target="_blank" href="https://jira.hl7.org/secure/Dashboard.jspa?selectPageId=17138">Specification Dashboard</a>
      </li>
      <li>
        <a target="_blank" href="https://jira.hl7.org/secure/CreateIssueDetails!init.jspa?pid=10405&amp;issuetype=10600&amp;customfield_11302=FHIR-crmi">Propose a Change</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
      <!--li>
        <a href="license.html">License</a>
      </li-->
    </ul>
  </li>
  <li><a href="changes.html">Changes</a></li>
</ul>
