<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="introduction.html" class="item">Introduction</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Content Management
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="content-lifecycle.html" class="item">Content lifecycle</a></li>
      <li><a href="using-cql.html" class="item">Using CQL</a></li>
      <li><a href="naming-conventions.html" class="item">Naming conventions</a></li>
      <li><a href="packaging.html" class="item">Packaging</a></li>
      <li><a href="publishing.html" class="item">Publishing</a></li>
      <li><a href="distribution.html" class="item">Distribution</a></li>
      <li><a href="version-manifest.html" class="item">Dealing with unversioned canonicals</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="profiles.html" class="item">Profiles</a></li>
      <li><a href="capabilities.html" class="item">Capabilities</a></li>
      <li><a href="artifacts.html" class="item">Artifacts Summary</a></li>
    </ul>
  </li>
  <!--li><a href="examples.html" class="item">Examples</a></li-->
  <li><a href="downloads.html" class="item">Downloads</a></li>
  <li><a href="changes.html">Version History</a></li>
</ul>
